---
import Card from '@/components/Card.astro';
import RootLayout from '@/layouts/RootLayout.astro';
import { Image } from '../../public/static/images/dev.jpg';

const projectsData = [
	{
		title: 'Node.js Chat App with Websockets',
		description: `A real-time chat application built with Node.js and Websockets. Experience seamless communication with other users in real-time.`,
		imgSrc: Image,
		href: 'https://github.com/megarbon/curso-nodejs-melaku',
	},
	{
		title: 'Educative Platform for Web Development Students',
		description: `An open-source platform designed to assist web development students in learning and practicing their skills. Explore a variety of educational resources, tutorials, and interactive exercises.`,
		imgSrc: '/static/images/educative-platform.png',
		href: 'https://github.com/DAW-IES-El-Lago',
	},
];
---

<RootLayout title='Projects'>
	<div class='divide-y divide-gray-200 dark:divide-gray-700'>
		<div class='space-y-2 pb-8 pt-6 md:space-y-5'>
			<h1
				class='text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14'>
				Projects
			</h1>

			<!-- Showcase your projects with a hero image (16 x 9) -->
		</div>
		<div class='container py-12'>
			<div class='-m-4 flex flex-wrap'>
				{
					projectsData.map((d) => (
						<Card
							title={d.title}
							description={d.description}
							imgSrc={d.imgSrc}
							href={d.href}
						/>
					))
				}
			</div>
		</div>
	</div>
</RootLayout>
